<ion-view view-title="Browse">
<div id="alphaSort" ng-click="alphaSortingFunction()" class="has-header">
    <div id="alphaInput">
      <input type="text" value="A" disabled></input>
      <i class="icon ion-arrow-down-c"></i>
    </div>
    <div id="alphaBox" class="has-header">
      <ul>
        <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>I</li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
    <li>M</li>
    <li>N</li>
    <li>O</li>
    <li>P</li>
    <li>Q</li>
    <li>R</li>
    <li>S</li>
    <li>T</li>
    <li>U</li>
    <li>V</li>
    <li>W</li>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
      </ul>
    </div>
  </div>
  <ion-content>
  <ion-list class="browse-item">
    <ion-item auto-list-divider auto-list-divider-value="{{item.name}}" ng-repeat="item in items | orderBy : 'name'">
    {{item.name}}
  </ion-list>
  </ion-content>
</ion-view>
