<ion-view view-title="Browse">
  <ion-content>

      <div class="row">
        <div class="col">
          <a href="" ng-click="goToDetail()">A</a>
        </div>
        <div class="col">
          <a href="">B</a>
        </div>
        <div class="col">
          <a href="">C</a>
        </div>
        <div class="col">
          <a href="">D</a>
        </div>
        <div class="col">
          <a href="">E</a>
        </div>
       </div>
       <div class="row">
        <div class="col">
          <a href="">F</a>
        </div>
        <div class="col">
          <a href="">G</a>
        </div>
        <div class="col">
          <a href="">H</a>
        </div>
        <div class="col">
          <a href="">I</a>
        </div>
        <div class="col">
          <a href="">J</a>
        </div>
       </div>
       <div class="row">
        <div class="col">
          <a href="">K</a>
        </div>
        <div class="col">
          <a href="">L</a>
        </div>
        <div class="col">
          <a href="">M</a>
        </div>
        <div class="col">
          <a href="">N</a>
        </div>
        <div class="col">
          <a href="">O</a>
        </div>
       </div>
       <div class="row">
        <div class="col">
          <a href="">P</a>
        </div>
        <div class="col">
          <a href="">Q</a>
        </div>
        <div class="col">
          <a href="">R</a>
        </div>
        <div class="col">
          <a href="">S</a>
        </div>
        <div class="col">
          <a href="">T</a>
        </div>
       </div>
       <div class="row">
        <div class="col">
          <a href="">U</a>
        </div>
        <div class="col">
          <a href="">V</a>
        </div>
        <div class="col">
          <a href="">W</a>
        </div>
        <div class="col">
          <a href="">X</a>
        </div>
        <div class="col">
          <a href="">Y</a>
        </div>
       </div>
       <div class="row">
        <div class="col">
          <a href="">Z</a>
        </div>
       </div>
  	<!-- <ion-list class="browse-item">
		<ion-item auto-list-divider auto-list-divider-value="{{item.name}}" ng-repeat="item in items | orderBy : 'name'">
    {{item.name}}
	</ion-list> -->
  </ion-content>
</ion-view>
