<ion-view view-title="Learning Boards">
  <ion-content class = "padding has-header">
    <div class = "card ">
    	<div class = "item item-text-wrap home">
    		Learning made easier. Now you can learn on-the-go and keep yourself up to date on your favourite topics. Get access to learning boards curated and updated by subject matter experts.
    	</div>
    </div>
    <div>
        <h2 class="ground2">Popular Boards</h2>
    </div>

    <div class="list card">
      <div class="item" ng-click = "goToBoardDetail('app.learningBoardDetail')">
        <h2>Learning Boards and A3</h2>
        <p>Content Level : Intermediate</p>
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/popular1.png">
    <div class = "buttons">
      <button class="button button-clear button-positive icon-left ion-android-star">
         1,989 have endorsed
      </button>
      <button class="button button-clear button-positive icon-left ion-android-checkbox">
         31,474 have completed
      </button>
      <button class="button button-clear button-positive icon-left ion-ios-people">
         3,755 are following
      </button>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
