<ion-view view-title="Learning Board and A3">
  <ion-content>
    <h3>By: Vandana Prasad</h3>
    <h4>Content Level : Intermediate</h4>
    <div class="button-bar">
  		<a class="button button-energized icon-left ion-ios-people">FOLLOW</a>
  		<a class="button button-energized icon-left ion-android-star">ENDORSE</a>
  		<a class="button button-energized icon-left ion-android-share">SHARE</a>
	</div>
	<div class="row">
  		<div class="col icon-left ion-ios-people">5
  			<br>Learning Activities</div>
		<div class="col icon-left ion-ios-star">2002
  			<br>Have Endorsed</div>
	</div>
	<div class="row">
  		<div class="col icon-left ion-android-checkbox">32235
  			<br>Have Completed</div>
		<div class="col icon-left ion-ios-people">3772
  			<br>Are Following</div>
	</div>
  </ion-content>
</ion-view>