<ion-view view-title="Learning Boards">
  <ion-content>
    
    <div class="detail_header">
      <label>Learning Boards and A3</label>
      <div class="row">
        <div class="col col-50-style">
          <h5 class="icon-left">By: Vandana Prasad</h5><br>
        </div>
        </div>
    </div>  
    <!-- <div class="row">
      <div class="col col-25">
        <a class="button button-bargroup"></a>
      </div>
      <div class="col col-25">
        <a class="button button-bargroup"></a>
      </div>
      <div class="col col-25">
        <a class="button button-bargroup"></a>
      </div>
    </div> -->
    <div class="row">
      <div class="col col-25">
        <a class="button button-bargroupAct"></a><br>5
      </div>
    <div class="col col-25">
        <a class="button button-bargroupEnd"></a><br>2252
      </div>
    <div class="col col-25">
        <a class="button button-bargroupCom"></a><br>43358
      </div>
      <div class="col col-25">
        <a class="button button-bargroupFoll"></a><br>4207
      </div>
    </div>
	
    <!-- <div>
    <progress class="progress" max="100" value="80"></progress>
  </div> -->
  <div class="list card mainCard">
    <div class="item row boardDetail">
      <div class="col col-10 articleNo">01</div>
      <div class="col learningTitle">What is A3?</div>
    </div>
    <div class="item row boardDetail">
      <div class="col publisher">
        <i class="icon ion-edit"></i> Steve Siromani 
      </div>     
    </div>
    <div class="item row boardDetail">
      <div class="col postDate">05 | Dec | 2015</div>
      <div class="col">
        <img style="vertical-align:middle;" src="img/like_icon.png">
            <span style="font-size:13px;">like</span>
      </div>
      <div class="col">
            <img style="vertical-align:middle;" src="img/comment_icon.png">
            <span style="font-size:13px;">comment</span>
      </div>
    </div>
    <div class="item item-body">
        <img class="full-image"src="img/image1.png">
        <div class="learningDescription">
    The Addo Agnito Award (A3)-from the Latin words meaning 'to give' and 'knowledge' - is the name of Accenture's reward and recognition program for employees who best exemplify the collaboration mindset of Connect, Contribute and Champion
  </div> 
</div>
</div>
<div class="list card mainCard">
    <div class="item row boardDetail">
      <div class="col col-10 articleNo">02</div>
      <div class="col learningTitle">Cloud 101 – Public vs. Private vs. Hybrid</div>
    </div>
    <div class="item row boardDetail">
      <div class="col publisher">
        <i class="icon ion-edit"></i> Steve Siromani 
      </div>     
    </div>
    <div class="item row boardDetail">
      <div class="col postDate">25 | Nov | 2015</div>
      <div class="col">
        <img style="vertical-align:middle;" src="img/like_icon.png">
            <span style="font-size:13px;">like</span>
      </div>
      <div class="col">
            <img style="vertical-align:middle;" src="img/comment_icon.png">
            <span style="font-size:13px;">comment</span>
      </div>
    </div>
    <div class="item item-body">
        <img class="full-image"src="img/image2.png">
        <div class="learningDescription">
    The mind behind the board. How do curators feel about sharing knowledge? Find it out!
  </div> 
</div>
</div>
  <div class="list card mainCard">
    <div class="item row boardDetail">
      <div class="col col-10 articleNo">03</div>
      <div class="col learningTitle">What is Cloud Computing?</div>
    </div>
    <div class="item row boardDetail">
      <div class="col publisher">
        <i class="icon ion-edit"></i> Steve Siromani 
      </div>     
    </div>
    <div class="item row boardDetail">
      <div class="col postDate">05 | Dec | 2015</div>
      <div class="col">
        <img style="vertical-align:middle;" src="img/like_icon.png">
            <span style="font-size:13px;">like</span>
      </div>
      <div class="col">
            <img style="vertical-align:middle;" src="img/comment_icon.png">
            <span style="font-size:13px;">comment</span>
      </div>
    </div>
    <div class="item item-body">
        <img class="full-image"src="img/image1.png">
        <div class="learningDescription">
    Get an insight from some of our learners on their experience with learning boards
  </div> 
</div>
</div>
  