<ion-view view-title="Learning Boards">
  <ion-content>
    
    <div class="detail_header">
      <label>Accenture Cloud - Overview</label>
      <div class="row">
      <h5 class="col icon-left">By: Vandana Prasad</h3>
      <h5 class="col icon-left">Content Level : Intermediate</h4>
    </div>

    </div>  
      <div class="button-bar">
        <a class="button button-energized button_addDesign">FOLLOW</a>
        <a class="button button-energized button_addDesign">ENDORSE</a>
        <a class="button button-energized button_addDesign">SHARE</a>
    </div>
	<div class="row">
    <div class="col">
      <div class="row">
        <div class="col col-20">
          <img src="img/icon_learnings_new.png">
        </div>
        <div class="col">5 Learning Activities
        </div>
    </div>
  	</div>	
    <div class="col">
      <div class="row">
        <div class="col col-20">
          <img src="img/icon_recommend_new.png">
        </div>
        <div class="col">2252 Endorsed
        </div>
    </div>
    </div> 
    </div> 
    <div class="row">
    <div class="col">
      <div class="row">
        <div class="col col-20">
          <img src="img/icon_completed_new.png">
        </div>
        <div class="col">43358 Completed 
        </div>
    </div>
    </div>  
    <div class="col">
      <div class="row">
        <div class="col col-20">
          <img src="img/icon_follow_new.png">
        </div>
        <div class="col">4207 Following
        </div>
    </div>
    </div> 
    </div> 
    <!-- <div>
    <progress class="progress" max="100" value="80"></progress>
  </div> -->
  <div class="list card">
      <div class="item">
        
            <div class="row">
                  <div class="col-articleNo">
                    <div class="articleNo">01</div>
                  </div>
                  
                  <div class="col-boardAction">

                        <div class="articleShare">
                  
                        <img class="shareIcon" src="img/icon_share.png">
                        <span class="learningShare">share</span>
        
                        </div>
                  </div>

                  <div class="col-boardAction">  
                        <div class="articleCompletion">
                        <img class="tickIcon" src="img/gray_tick.png">
                        <span class="learningComplete">Mark as completed</span>
            
                        </div>
                  </div>          
            </div>
            
            <label class="learningTitle">What is Cloud Computing?</label>

            <div class="row">
              <div class="col-postDate">
                <label class="postDate">Posted date:</label>
                <label class="postDate">25 | Nov | 2015</label>
              </div>
            </div>
            <div class="row">
              <div class="col-publisher">
                <label class="publisher">Author/Publisher:</label>
                <label class="publisher">Steve.Siromani </label>  
              </div>
            </div>
      </div>
      <div class="item item-body">
        <img class="full-image"src="img/image1.png">
        <div class="learningDescription">
          <p>Clients are no longer debating the use of cloud: they are in the thick of it, wrestling with how cloud fits into their day-to-day business.</p>
        </div>
        <div class="row">
          <div class="col">
          
              <img style="vertical-align:middle;" src="img/like_icon.png">
            <span style="font-size:13px;">like</span>
  
          </div>
          <div class="col">
            <img style="vertical-align:middle;" src="img/comment_icon.png">
            <span style="font-size:13px;">comment</span>
          </div>
        </div>
      </div>
    </div>


    <div class="list card">
      <div class="item">
        
            <div class="row">
                  <div class="col-articleNo">
                    <div class="articleNo">02</div>
                  </div>
                  
                  <div class="col-boardAction">

                        <div class="articleShare">
                  
                        <img class="shareIcon" src="img/icon_share.png">
                        <span class="learningShare">share</span>
        
                        </div>
                  </div>

                  <div class="col-boardAction">  
                        <div class="articleCompletion">
                        <img class="tickIcon" src="img/gray_tick.png">
                        <span class="learningComplete">Mark as completed</span>
            
                        </div>
                  </div>          
            </div>
            
            <label class="learningTitle">Cloud 101 – Public vs. Private vs. Hybrid</label>

            <div class="row">
              <div class="col-postDate">
                <label class="postDate">Posted date:</label>
                <label class="postDate">02 | May | 2016</label>
              </div>
            </div>
            <div class="row">
              <div class="col-publisher">
                <label class="publisher">Author/Publisher:</label>
                <label class="publisher">Steve.Siromani </label>  
              </div>
            </div>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/image2.png">
        <div class="learningDescription">
          <p>Find out how to fast track a divestiture on cloud by watching this video, featuring Shannon Gilbertson, managing director - Accenture Business Process as a Service.</p>
        </div>
        <div class="row">
          <div class="col">
          
              <img style="vertical-align:middle;" src="img/like_icon.png">
            <span style="font-size:13px;">like</span>
  
          </div>
          <div class="col">
            <img style="vertical-align:middle;" src="img/comment_icon.png">
            <span style="font-size:13px;">comment</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>