<ion-view view-title="Search">
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="What do you want to learn today ?">
  </label>
</div>
<div ng-controller="xmlController">
            <!--    <li ng-repeat="books in bookstore">
                <ul ng-repeat="eachbook in books">
                <li ng-repeat="(key, value) in eachbook">
                                <p>Category: {{value.category}}</p>
                                <p>Author:{{value.author}}</p>
                                <img src={{value.image}}></img>
                                <p>------------------------</p>
                </li>
                </ul>
                </li> -->
                
                <ul>
                <li ng-repeat="items in itemsArray">
                                <p>Title: {{items.title}}</p>
                                <p>Completed:{{items.completed}}</p>
                                <p>Endorse:{{items.endorece}}</p>
                                <p>Follow:{{items.follow}}</p>
                                <img src={{items.board_img.__text}}></img>
                                <p>------------------------</p>
                </li>
                </ul>
                
</div>
<div>

  </div>
  </ion-content>
</ion-view>
