<ion-view view-title="Search">
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="What do you want to learn today ?">
  </label>
</div>
<p>This Is New Paragraph</p>
<div ng-controller="xmlController">
                <li ng-repeat="books in bookstore">
                <ul ng-repeat="eachbook in books">
                <li ng-repeat="(key, value) in eachbook">
                                <p>Category: {{value.category}}</p>
                                <p>Author:{{value.author}}</p>
                                <img src={{value.image}}></img>
                                <p>------------------------</p>
                </li>
                </ul>
                </li>
</div>
<div>

  </div>
  </ion-content>
</ion-view>
