<ion-view view-title="What's New" class = "my-menu">
  <ion-content>
  <h3 class="whatsNew-header">Introducing New Feature</h3>
    <ion-slide-box auto-play='true' does-continue='true' slide-intervel='50000'>
          <ion-slide>
          <h3>Exciting times now - Increase your A3 score</h3>
          <p class = "whatsNew-slide">Browse through your boards, show your interest and voila - You have already become a part of collaboration game</p>
          <p class = "whatsNew-slide">Learning Boards integrate with A3 - see below for actions that will help you gain advantage in your journey of becoming a Guru</p>
          <h3>Connect:</h3>
          <p class = "whatsNew-slide">You are learning? Increase your A3 score by following boards and completing learning activities</p>
      </ion-slide>
      <ion-slide>
          <h3>Contribute:</h3>
          <p class = "whatsNew-slide">You are an SME? Increase your A3 score by publishing learning activities, receiving completions and gaining followers</p>
          <h3>Champion:</h3>
          <p class = "whatsNew-slide">You are learning and an SME? Lead by example and encourage others to collaborate. Increase A3 score by endorsing a Learning Board</p>

          <p class = "whatsNew-slide">Want more information abou the program? Visit the A3 page </p>
      </ion-slide>
          <ion-slide>
          <p class = "whatsNew-slide">Check the new personalized view! It will help you ensure you keep track of the latest updates in the Boards you are following through learning activity update feeds on the page</p>
          <p class = "whatsNew-slide">In case you are wondering how to reach for the most relevant content according to your skills, review Recommendation section. You may want to check the Popular Boards, if there is no direct match aligned to your skill right now</p>
          </ion-slide>
    </ion-slide-box>
    <div id="featureModelFooter">
        <span><input type="checkbox">Do not show this again</input></span>
        <button type="button" class="" ng-click="closeModal()">Continue</button>
      </div>
  </ion-content>
</ion-view>
