.button_addDesign
{	
	border: 1px solid white !important;
}

.detail_header label
{
 	display: block;
    font-size: 18px;
    padding: 10px 0 0;
    text-align: left;
    width: 100%;
    padding-left: 10px;
    color: #FF4E45;
    font-weight: 700;
}

.articleAction
{
    display: flex;
    //padding: 5px;
    width: 100%;
}
.articleNo
{
    font-size:20px;
    font-weight:bold;
    color:#ff6633;
}
.col-articleNo
{
    -moz-box-flex: 1;
    display: block;
    flex: 1 1 0;
    width: 100%;
}
    .col-boardAction{

    -moz-box-flex: 1;
    display: block;
    flex: 1 1 0;
    padding: 5px;
    width: 100%;

    }
.articleShare{
    display: block;
    float: right;
    text-decoration:none;
}
.articleCompletion {
    display: block;
    float: right;
}

.learningTitle {
    display: block;
    padding: 5px;
    width: 100%;
    font-weight:bold;
    text-align:left;
}
.col-postDate
{
	 -moz-box-flex: 1;
    display: block;
    flex: 1 1 0;
    width: 100%;
    }

.col.publisher
{
   font-size: 14px;
    text-align: left;
    color: #11C1F3;
    font-weight: 700;
    text-align : left;
  }

  .postDate{
  text-align: left;
  font-size:12px;
  }

  .learningShare{

  text-decoration: none;
  }
  .shareIcon{
	vertical-align:middle;
  }
   .learningComplete{

  text-decoration: none;
  }
  .tickIcon{
	vertical-align:middle;
  }
h5.icon-left {
    font-size: 14px;
    color: #03A9F4;
    text-align: left;
    margin-top: 0px;
}
.button-bargroupAct{
    border-color: transparent;
    background: url('../img/icon_learnings_new.png') no-repeat center;
    background-color: #FFFFFF;
    color: #FFF4F4;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 30px;
    min-height: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    align-items: center;
    font-weight: 700;
}
.button-bargroupEnd{
    border-color: transparent;
    background: url('../img/icon_recommend_new.png') no-repeat center;
    background-color: #FFFFFF;
    color: #FFF4F4;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 30px;
    min-height: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    align-items: center;
    font-weight: 700;
}
.button-bargroupCom{
    border-color: transparent;
    background: url('../img/icon_completed_new.png') no-repeat center;
    background-color: #FFFFFF;
    color: #FFF4F4;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 30px;
    min-height: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    align-items: center;
    font-weight: 700;
}
.button-bargroupFoll{
    border-color: transparent;
    background: url('../img/icon_follow_new.png') no-repeat center;
    background-color: #FFFFFF;
    color: #FFF4F4;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 30px;
    min-height: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    align-items: center;
    font-weight: 700;
}
  .col-50-style {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 20px;
}
.learningDescription{
  font-size: 14px;
}
.mainCard{
  margin-top : 0px;
}
.item.row.boardDetail{
  padding-top: 0px;
  padding-bottom: 0px;
}