.home{
  font-size: 15px !important;
  font-weight: bold !important;
}

a.item-content {
    display: block;
    color: white !important;
    text-decoration: none;
}
.header-item{
  font-size: 18px !important;
  font-weight: 700 !important;
}
.popular-item{
  font-size: 28px !important;
  font-weight: 500 !important;
  color: #4E4A4A;
  line-height: 1.0;
  padding-top: 10px;
}
.board-image{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.board-background {
    background: #B1B6B7;
    padding-top: 4px;
    padding-bottom: 4px;
}
.board-p{
  color: #444;
  font-weight: bold;
}
.board-h2 {
    font-weight: bold !important;
    font-size: 16px !important;
    font-family: -webkit-body;
}
.popular-text{
  font-size: 12px;
  color: #100D0D;
    padding-top: 4px;
}
.item-icon-left .icon {
    left: 11px;
    font-size: 20px;
    color: #B10324;
}
.slider-pager {
    bottom: 1px;
}
.whatsNew-header{
  font-size: 20px;
    color: #355182;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: 0;
    padding-left: 10px;
}
.whatsNew-slide {
    font-size: 14px;
    font-family: sans-serif;
    color: #130A52;
    }
.whatsNew-button{
    border-color: transparent;
    background-color: #FD9759;
    margin-top: 40px !important;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    }
.row {
    border-style: hidden;
}
.browse-h4{
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    color: #D66C0B;
    font-family: sans-serif;
}
.browse-item
{ 
    font-size: 15px;
    font-family: -webkit-pictograph;
}
ion-slide {
    padding: 1% 0.5%;
    text-align: justify;
               
                h4 {
    color: #ef473a;
    font-weight: bold;
                }
     h3 {
    color: #A0460E;
    font-weight: bold;
    font-size: 16px;
    font-family: monospace;
    }
}
.modal-backdrop, .modal-backdrop-bg{
    background-color:rgba(0,0,0,0.5);
}
ion-modal-view {
    border: 1px solid #b7b7b7;
    left: 10% !important;
    top: 10% !important;
    width: 80% !important;
    min-height:70% !important;
 
    .ion-ios-close-outline {
        background-color: #ffffff;
    }
    ion-content{
        padding:2% !important;
    }
}
 
#featureModelFooter {
    bottom: 0;
    padding: 2%;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color:#ffffff;
    span{
        display:block;
        text-align:left;
    }
    button{
        background-color: #ff6633;
        border: medium none;
        color: #ffffff;
        padding: 1%;
        position: relative;
    }
}
ion-item.item-borderless.item {
    font-size: 14px;
    font-family: monospace;
    color: #270202;
}
#boardDetail{
    button{
        background-color: #ff6633;
        border: medium none;
        color: #ffffff;
        padding: 2%;
        position: relative;
    }
}
progress.progressCustom{
   // -webkit-progress-bar: #ffc900 !important ; 
   // -webkit-progress-value:#ef473a !important ;
   color:#F11000 !important;
   background-color:#F11000;
    width: 50 !important;
}

/**********Home Boards Styles************/

ion-nav-view[name="menuContent"] ion-content{ 
    background-image: url('../img/pageBack.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

ion-view[view-title="Learning Boards"] .scroll {
    margin:auto;
    text-align:center;
        
    h3 {
  border-bottom: 1px solid;
  color: #3F8392;
  padding: 1%; }

.popularBoard.card > div {
  padding: 1% 2%; }

.imageDiv, .buttonDiv {
  display: inline-block;
  vertical-align: middle;
  width:49%; 
  }
.imageDiv img{
  width:100%;
  border-radius: 8px;
}
.buttonDiv button {
  display: ruby-text-container;
  margin-left: 10%;
  display: none; }

.popularBoard div:first-child h2 {
  color: #EBE9D2;
    font-size: 1em;
    font-weight: 600;
    margin: 4px 0px;}

.buttonDiv {
  text-align:center; }
  .buttonDiv p {
    color: #1F1C31;;
    font-size:0.7em;
    margin:0 4px; }

  .buttonDiv .ion-android-checkbox:before, .buttonDiv .ion-ios-people:before, .buttonDiv .ion-android-star:before {
    padding-right: 5px; }

.popularBoard.card {
    display: block;
    vertical-align: top;
    text-align: left;
    background-image: url('../img/boardBackground.jpg');
    background-size: 100% 100%;
    margin: 2% 3% !important;
    width: 94%;
}
.popularBoard.card p{
  width:25%;
  display:inline-block;
}
.popularBoard.card p span{
  display: block;
  color: #1F1C31;
}
.popularBoard.card p:first-child{
  width:100%;
  display:block;
  text-align: left;
  margin-bottom: 4px !important;
  font-size:0.8em;
}
.buttonDiv p strong {
    color: #FF6633;
}

}

/*******Menu Styles*********/
ion-side-menu ion-content {
    background-image: url('../img/pageBack.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
ion-side-menu ion-content ion-item, ion-side-menu ion-content ion-item a {
    background-color: rgba(0,0,0,0) !important;
}


